/build/.DS_Store
/build/templates/.DS_Store
/diagrams/.DS_Store
/diagrams/creris_communication.dia~
/diagrams/protocol.dia~
/log/dogen.log
/projects/.DS_Store
/projects/config/.DS_Store
/projects/config/include/.DS_Store
/projects/config/include/creris/.DS_Store
/projects/utility/.DS_Store
